<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Books</title>

    <!-- Google font-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fontawesome.css') }}">

    
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <link id="color" rel="stylesheet" href="{{ url_for('static',filename='css/color-1.css') }}" media="screen">



    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/responsive.css') }}">

    <style>
      /* Overriding Bootstrap's tooltip positioning */
    .custom-input .invalid-tooltip {
      position: static; 
    }
    </style>
  </head>
  <body> 
    <!-- page-wrapper Start-->
    <div class="page-wrapper default-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper row m-0">

          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper"><a href="adminDashboard"><img class="img-fluid" src="{{ url_for('static',filename='images/logo/logo.png') }}" alt=""></a></div>
          </div>

          <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
            <ul class="nav-menus">

<!--Corner Right Profile -->
              <li class="profile-nav onhover-dropdown pe-0 py-0">

                <div class="media profile-media">
                  <img class="b-r-10" src="{{ url_for('static', filename='images/dashboard/profile.png') }}" alt="">
                  <div class="media-body"><span>{{ first_name }}</span>
                    <p class="mb-0 font-roboto">{{ user_type }} <i class="middle fa fa-angle-down"></i></p>
                  </div>
                </div>

                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="#"><i data-feather="user"></i><span>Account </span></a></li>
                  <li><a href="#"><i data-feather="log-in"> </i><span>Log Out</span></a></li>
                </ul>

              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- Page Header Ends-->

      <!-- Page Body Start-->
      <div class="page-body-wrapper default-menu default-menu">

        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper" sidebar-layout="stroke-svg">
          <div>
            <!--LOGO-->
            <div class="logo-wrapper"><a href="adminDashboard"><img class="img-fluid for-light" src="{{ url_for('static',filename='images/logo/logo.png') }}" alt=""><img class="img-fluid for-dark" src="../assets/images/logo/logo_dark.png" alt=""></a>
              <div class="back-btn"><i class="fa fa-angle-left"></i></div>
              <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
            </div>


            <nav class="sidebar-main">
              <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
              <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                  <li class="back-btn"><a href="adminDashboard"><img class="img-fluid" src="../assets/images/logo/logo-icon.png" alt=""></a>
                    <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                  </li>

                  <li class="sidebar-main-title">
                    <div>
                      <h6 class="lan-1">General</h6>
                    </div>
                  </li>
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <label class="badge badge-light-primary"></label><a class="sidebar-link sidebar-title" href="#"><span class="lan-3">Dashboard</span></a>
                  </li>
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                  <a class="sidebar-link sidebar-title" href="#">
                      <span>Users           </span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="listOfUser">List Of Users</a></li>
                      <li><a href="FormAddUser">Add New User</a></li>
                    </ul>
                  </li>
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title" href="#">
                        <span>Books           </span></a>
                      <ul class="sidebar-submenu">
                        <li><a href="listOfBooks">List Of Books</a></li>
                        <li><a href="FormAddBooks">Add New Books</a></li>
                        <li><a href="searchBooks">Search Books</a></li>
                      </ul>
                    </li>
            </nav>
          </div>
        </div>
        <!-- Page Sidebar Ends-->

        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h3>
                     Add New Books</h3>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Books</li>
                    <li class="breadcrumb-item active">Add New Book                           </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">

                    <div class="form theme-form">

                      <form class="row g-3 needs-validation custom-input" action="/FormAddBooks" method="POST" novalidate="" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="validationEntryNumber">Entry Number</label>
                            <input class="form-control" id="validationEntryNumber" type="number" placeholder="Enter entry number" name="EntryNumber" required="">
                            <div class="valid-tooltip">Looks good!</div>
                            <div class="invalid-tooltip">Please enter an entry number.</div>                       
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="validationBookName">Book Name</label>
                            <input class="form-control" id="validationBookName" type="text" placeholder="Enter book name" name="BookName" required="">
                            <div class="valid-tooltip">Looks good!</div>
                            <div class="invalid-tooltip">Please enter a book name.</div>                       
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="validationAuthorName">Author</label>
                            <input class="form-control" id="validationAuthorName" type="text" placeholder="Enter author name" name="Author" required="">
                            <div class="valid-tooltip">Looks good!</div>
                            <div class="invalid-tooltip">Please enter a author name.</div> 
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="validationPublisherName">Publisher</label>
                            <input class="form-control" id="validationPublisherName" type="text" placeholder="Enter publisher name" name="Publisher" required="">
                            <div class="valid-tooltip">Looks good!</div>
                            <div class="invalid-tooltip">Please enter publisher name.</div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="validationISBNName">ISBN</label>
                            <input id="validationISBNName" class="form-control" type="text" placeholder="Enter ISBN" name="ISBN" required="">
                            <div class="valid-tooltip">Looks good!</div>
                            <div class="invalid-tooltip">Please enter ISBN</div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="validationVersionName">Latest Version</label>
                            <input id="validationVersionName" class="form-control" type="text" placeholder="Enter latest version" name="LatestVersion" required="">
                            <div class="valid-tooltip">Looks good!</div>
                            <div class="invalid-tooltip">Please enter the Latest Version</div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="validationShelfName">Shelf</label>
                            <input id="validationShelfName" class="form-control" type="text" placeholder="Enter shelf location" name="Shelf" required="">
                            <div class="valid-tooltip">Looks good!</div>
                            <div class="invalid-tooltip">Please enter the Shelf name</div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col">
                          <div class="mb-3">
                            <label for="validationImage" >Upload Book Cover Image</label>
                            <input id="validationImage" type="file" name="CoverImage" class="form-class" accept="image/*" required="">
                            <div class="valid-tooltip">Looks good!</div>
                            <div class="invalid-tooltip">Please enter upload the book cover</div>
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col text-end">
                          <button class="btn btn-success me-3" type="submit">Add Book</button>
                          <button class="btn btn-danger" type="reset">Cancel</button>
                        </div>
                      </div>

                      </form>
                  
                    </div>
                    


                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>

      </div>
    </div>

    {% if addBooks_success %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
      Swal.fire({
          title: 'Success!',
          text: 'Book added successfully',
          icon: 'success'
      }).then(function() {
          // Redirect to the listOfBooks page after acknowledging the alert
          window.location.href = "{{ url_for('listOfBooks') }}";
      });
  </script>
{% endif %}

{% if message %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  
    Swal.fire({
        title: '{{ "Error!" if "Error" in message else "Success!" }}',
        text: '{{ message }}',
        icon: '{{ "error" if "Error" in message else "success" }}'
    }).then(function() {
        if (!("Error" in message)) {
            // Redirect only on success
            window.location.href = "{{ url_for('listOfBooks') }}";
        }
    });
</script>
{% endif %}

<script>
  // Check if the is_file_too_large flag is set
  window.onload = function() {
      if ("{{ is_file_too_large }}") {
          Swal.fire({
              title: 'Error!',
              text: '{{ message }}',
              icon: 'error',
              confirmButtonText: 'OK'
          });
      }
  };
</script>

    <!-- latest jquery-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap js-->
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>

    <!-- scrollbar js-->
    <script src="{{ url_for('static', filename='js/scrollbar/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollbar/custom.js') }}"></script>
    <!-- Sidebar jquery-->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>

    <!-- Plugins JS start-->
    <script src="{{ url_for('static', filename='js/sidebar-menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header-slick.js') }}"></script>



    <script src="{{ url_for('static', filename='js/form-validation-custom.js') }}"></script>
    <!-- Plugins JS Ends-->

    <!-- Theme js-->
    <script src="../assets/js/script.js"></script>
    <!-- Plugin used-->
  </body>
</html>