<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Books for Users</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/themify.css') }}">
    
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slick-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/scrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/animate.css') }}">
    <!-- Plugins css Ends-->

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <link id="color" rel="stylesheet" href="{{ url_for('static',filename='css/color-1.css') }}" media="screen">

    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/responsive.css') }}">
  </head>

  <body> 
    <!-- page-wrapper Start-->
    <div class="page-wrapper default-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper row m-0">

          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper"><a href="index"><img class="img-fluid" src="{{ url_for('static',filename='images/logo.png') }}" alt=""></a></div>
          </div>

          <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
            <ul class="nav-menus">

<!--Corner Right Profile -->
              <li class="profile-nav onhover-dropdown pe-0 py-0">

                <div class="media profile-media">
                  <img class="b-r-10" src="{{ url_for('static', filename='images/profile.png') }}" alt="">
                  <div class="media-body"><span>{{ first_name }}</span>
                    <p class="mb-0 font-roboto">{{ user_type }} <i class="middle fa fa-angle-down"></i></p>
                  </div>
                </div>

                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="#"><i data-feather="user"></i><span>Account </span></a></li>
                  <li><a href="\logout"><i data-feather="log-in"> </i><span>Log Out</span></a></li>
                </ul>

              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- Page Header Ends-->

      <!-- Page Body Start-->
      <div class="page-body-wrapper default-menu default-menu">

        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper" sidebar-layout="stroke-svg">
          <div>
            <!--LOGO-->
            <div class="logo-wrapper"><a href="index"><img class="img-fluid for-light" src="{{ url_for('static',filename='images/logo.png') }}" alt=""><img class="img-fluid for-dark" src="../assets/images/logo/logo_dark.png" alt=""></a>
              <div class="back-btn"><i class="fa fa-angle-left"></i></div>
              <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
            </div>


            <nav class="sidebar-main">
              <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
              <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                  <li class="back-btn"><a href="index"></a>
                    <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                  </li>

                  <li class="sidebar-main-title">
                    <div>
                      <h6 class="lan-1">General</h6>
                    </div>
                  </li>
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <label class="badge badge-light-primary"></label><a class="sidebar-link sidebar-title" href="index"><span class="lan-3">Dashboard          </span></a>
                  </li>
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title" href="#">
                        <span>Books           </span></a>
                      <ul class="sidebar-submenu">
                        <li><a href="listOfBooksUser">List Of Books</a></li>
                        <li><a href="searchBooksUser">Search Books</a></li>
                      </ul>
                    </li>
            </nav>
          </div>
        </div>
        <!-- Page Sidebar Ends-->

        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h3>Search Books</h3>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Books</li>
                    <li class="breadcrumb-item active">Search Books</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <!-- Container-fluid starts-->
          <div class="container-fluid search-page">

            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                    <!--Search Function-->
                  <div class="card-header">

                    <form class="theme-form" action="{{ url_for('search_books_user') }}" method="GET"> <!-- Change method to post if necessary -->
                      <div class="input-group m-0 flex-nowrap">
                        <input class="form-control-plaintext" type="search" placeholder="Search Books .." name="query">
                        <button class="btn btn-primary input-group-text" type="submit">Search</button>
                      </div>
                    </form>

                  </div>

                  <div class="card-body">

                    <div class="tab-content" id="top-tabContent">
                      <div class="search-links tab-pane fade show active" id="all-links" role="tabpanel" aria-labelledby="all-link">
                        <div class="row">

                          <div class="col-xxl-12 col-xl-12 box-col-12">
                            <h6 class="mb-2">Search result for "{{ search_query }}"</h6>
                            
                            {% for book in search_results %}
                            <div class="info-block">
                            <div class="row mb-3">
                              <div class="col-md-3">
                                <!-- Display the book cover image -->
                                <img src="{{ url_for('cover_image', entry_number=book.EntryNumber) }}" alt="Cover Image" style="width: 90%; height: auto;">
                              </div>
                              <div class="col-md-9">

                                  <h6>{{ book.BookName }}</h6>
                                  <h5>Author: {{ book.Author }}<br>
                                     Publisher: {{ book.Publisher }}<br>
                                     ISBN: {{ book.ISBN }}</h5>
                                  <ul class="search-info">
                                    <li>Latest Version: {{ book.LatestVersion }}</li>
                                    <li>Shelf: {{ book.Shelf }}</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        

                        </div>
                      </div>
                    </div>


                  </div>

                </div>
              </div>
            </div>

          </div>
          <!-- Container-fluid Ends-->

        </div>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap js-->
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    <!-- scrollbar js-->
    <script src="{{ url_for('static', filename='js/scrollbar/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollbar/custom.js') }}"></script>
    <!-- Sidebar jquery-->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- Plugins JS start-->
    <script src="{{ url_for('static', filename='js/sidebar-menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header-slick.js') }}"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Plugin used-->
  </body>
</html>